@model PatientCard.WebApp.Models.ViewModels.SpecialtyViewModel

<div class="k-edit-form-container">

    @Html.HiddenFor(model => model.Id)

    <div class="row form-group">
        <div class="col-md-4 text-center">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="col-md-8">
            @*@Html.EditorFor(model => model.Name)*@
            @(Html.Kendo().TextBoxFor(model => model.Name)
                  .HtmlAttributes(new
                  {
                      @class = "form-control",
                      @style = "display: inline"
                  }))
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

</div>